@tailwind base;
@tailwind components;
@tailwind utilities;
@import "../../assets/styles/corporateDesign.css";


.gameDiv {

    /* display: inline-grid;
    grid-template-columns: auto auto auto;
    padding: 10px; */
}
.gameArticle {

    border-color: var(--secondary);
    border-radius: 10px;
    border-width: 2px;
    text-align: center;
}