@import "../../assets/styles/corporateDesign.css";

.carousel-container {
    max-width: 100vw !important;
}

.image-container img {
    transition: all 0.3s ease-in-out;
  }
  
  .slick-current .image-container img {
    max-height: 80vh; /* Adjust the height as needed */
    width: auto;
  }
  
  .side-image .image-container img {
    max-height: 70vh; /* Adjust the height as needed */
    width: auto;
  }
  