@import "../../assets/styles/corporateDesign.css";

.carousel-container {
    max-width: 100vw !important;
}

/* Remove the existing .center-image and .side-image classes if they are not needed anymore */

.carousel-item .slick-slider {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}

/* Style for the center image */
.carousel-item .slick-center img {
  max-height: 80vh; /* Adjust the height as needed */
  width: auto;
  transition: max-height 0.3s ease-in-out; /* Smooth animation for max-height */
}

/* Style for the side images */
.carousel-item .slick-slide:not(.slick-center) img {
  margin-top: 5vh;
  margin-bottom: 5vh;
  max-height: 70vh; /* Adjust the height as needed */
  width: auto;
  opacity: 0.3;
  transition: opacity 0.3s ease-in-out;
}

.carousel-item .slick-slide:not(.slick-center):hover img {
  opacity: 1;
}
