/* Import the corporate design styles */
@import "../../assets/styles/corporateDesign.css";

/* Override carousel styles */
.carousel-container {
  max-width: 100vw !important;
}

/* Center carousel items */
.carousel-item .slick-slider {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}

/* Apply gradient animation to carousel images */
.carousel-item img {
  position: relative;
  z-index: 1;
}

.carousel-item img::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background-image: linear-gradient(to bottom right, var(--primary), var(--tertiary));
  background-size: 400% 400%;
  animation: gradient-animation 4.5s linear infinite, rotate-animation 10s linear infinite;
}

/* Define gradient animation keyframes */
@keyframes gradient-animation {
  0%, 100% { background-position: top left; }
  50% { background-position: bottom right; }
}

/* Define rotation animation keyframes */
@keyframes rotate-animation {
  0%, 100% { transform: rotate(0deg); }
  50% { transform: rotate(180deg); }
}

/* Center image style */
.carousel-item .slick-center img {
  max-height: 80vh; /* Adjust height as needed */
  width: auto;
  transition: max-height 0.3s ease-in-out; /* Smooth animation for max-height */
}

/* Side image style */
.carousel-item .slick-slide:not(.slick-center) img {
  margin: 5vh 0;
  padding: 0 5vh;
  max-height: 70vh; /* Adjust height as needed */
  width: auto;
  opacity: 0.3;
  transition: opacity 0.3s ease-in-out;
}

/* Hover effect for side images */
.carousel-item .slick-slide:not(.slick-center):hover img {
  opacity: 1;
}

/* Enhanced fade-in effect with rotation */
.fade-in,
.transition-opacity,
.fade-in-on-scroll {
  opacity: 0;
  transform: translateX(20px); /* Initial position adjustment */
}

.fade-in, .fade-in-on-scroll {
  animation: fadeInUp 1s forwards, rotateFadeIn 1s forwards;
}

.transition-opacity {
  transition-property: opacity;
  transition-duration: 0.5s;
  transition-timing-function: ease-in;
}

.fade-in-on-scroll {
  transition: opacity 1s, transform 1s;
}

.fade-in-on-scroll.visible,
.transition-opacity.visible {
  opacity: 1;
  transform: translateX(0);
}

/* Initial content hiding and fade-in animation */
.carousel-item .content {
  opacity: 0;
  transform: translateX(100px);
  transition: opacity 1s, transform 2s;
}

/* Show content with fade-in and slide-in animation */
.carousel-item .content.visible {
  opacity: 1;
  transform: translateX(0);
}

/* Delayed fade-in and rotation effect */
@keyframes rotateFadeIn {
  from {
    opacity: 0;
    transform: translateX(20px) rotate(-20deg);
  }
  to {
    opacity: 1;
    transform: translateX(0) rotate(0deg);
  }
}
